@page
@using WebProject.Components
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">

</div>

<div class="CommandsWindow">
	@(await Html.RenderComponentAsync<CommandList>(RenderMode.ServerPrerendered))
</div>


<script src="_framework/blazor.server.js"></script>
